
@import "/home/arega/.cache/wal/colors-rofi-dark"

configuration{
    display:           "";
}

@theme "/home/arega/.config/rofi/config.rasi"

inputbar {
  children: [entry];
}

window {
    width:            30%;
    height:           20%;
    padding:          10;
    text-color:       @foreground;
    background-color: @background;
}

listview {	
    scrollbar:        true;
}

inputbar {
    enabled:          false;
}

